body {
    margin: 0;
    padding: 50px;
    text-align: center;
    background-color: #f0f0f0;
}

canvas {
    display: none;
    margin: 0;
    background-color: #f9f9f9;
}

form {
    width: 90%;
    margin: auto; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form label {
    font-size: 16px;
    text-align: left;
}
form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin: 0;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    background-color: #4da6ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
}
#downloadBtn {
        margin-top: 10px;
    }
button:hover {
    background-color: #3385cc;
}
